<form method="post" action="#"  enctype="multipart/form-data">

	<table  class="table table-hover table table-striped">
	<tr>
	<td >Name :</td>
	<td><input class="form-control" type="text" placeholder="Enter Name" class="tb" name="name"  /></td>
	</tr>
    
	<td >Email :</td>
	<td><input  class="form-control" type="text" placeholder="Email" class="tb" name="email"  /></td>
	</tr>
	<tr>
	<td>DOB:</td>
	<td><input class="form-control" type="date" placeholder="" class="tb" name="dob" maxlength="6"  requird/></td>
	</tr>
    <tr>
        <td>Password</td>
        <td><input class="form-control" type="text" placeholder="Post" class="tb" name="password" /></td>
        </tr>
	<tr>
        <tr>
  
            <td > Phone no :</td>
            <td><input class="form-control" type="number" name="no" pattern="[6789]{1}[0-9]{9}" placeholder="[6789]{1}[0-9]{9}" maxlength="10"  required/></td>
            </tr>
          
	<tr>
	<td></td>
	<td>
	<input class="btn btn-dark" type="reset"/>
	<input class="btn btn-primary" type="submit" value="ADD"></td>
	</tr>
    </table>
</form>