{% extends 'index.html' %}
{% block views %}
<table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Status</th>
        <th scope="col">From Date</th>
        <th scope="col">To date</th>
      </tr>
    </thead>
    <tbody>
    {% for item in data %}
      <tr>
        <th scope="row">{{forloop.counter}}</th>
        <td {% if item.status == 'pending' %}
        class='text-warning' 
        {% elif item.status == 'Accepted' %}
        class="text-success"
        {% else %}
        class="text-danger"
        {% endif %}>{{item.status}}</td>
        <td>{{item.from_date}}</td>
        <td>{{item.to_date}}</td>
      </tr>
    {% endfor %}
    </tbody>
</table>
    <form method="post" action="" >
        {% csrf_token %}
        <table class="table table-hover">
    <br>
    <h3><strong>Leave request form</strong></h3>
    <tr>
    <td class="table-active"> <label for="from">Date:</label></td>
    <td class="table-active"><input class="form-control" type="date" id="birthday" name="from" randomly></td>
    </tr>
    <tr>
        <td class="table-active"> <label for="from">to:</label></td>
        <td class="table-active"><input class="form-control" type="date" id="birthday" name="to" randomly></td>
        </tr>
    <tr>
        <td class="table-secondary">Reason</td>
        <td class="table-secondary"><textarea class="form-control" name="message" rows="10" cols="30"></textarea></td>
    </tr>
        
    <tr>
    <td><input class="btn btn-primary ml-3" type="submit" value="Request"><td>
    </tr>
        </table>
    </form>
{% endblock  %}