{% extends 'home/index.html' %}
{% block views %}
{% load static %}

<div class="edu-courses about-edu-courses" style="padding: 150px 0px 80px;">
    <div class="container">
        <div class="row panel-grid-banner">
                                             <div class="col-sm-3 col-xs-12">
                <div class="inner-grid" style="background: #03152e;
box-shadow: 0 0 30px #FF5722;">                        
                <img src="resources/images/bcom/majid.jpg" />                         <div class="member_name">
                        <h4 style="margin-bottom: 5px; margin-top: 10px;"> Mr. Majid ErayanKulangara</h4>
                        <span> HOD</span>
                        <h6>M.Com., B.Ed., SET, NET, M.Phil</h6>
                    </div> 
                </div>
            </div>
              
                              <div class="col-sm-3 col-xs-12">
                <div class="inner-grid" style="">                        
                <img src="resources/images/bcom/abnanul.jpg" />                         <div class="member_name">
                        <h4 style="margin-bottom: 5px; margin-top: 10px;">Mr. Adnanul Fasil N</h4>
                        <span>Asst Lecturer </span>
                        <h6>M.Com</h6>
                    </div> 
                </div>
            </div>
              
                              <div class="col-sm-3 col-xs-12">
                <div class="inner-grid" style="">                        
                <img src="resources/images/bcom/afzal.jpg" />                         <div class="member_name">
                        <h4 style="margin-bottom: 5px; margin-top: 10px;">Mr. Muhammed Afsal K.T</h4>
                        <span> Asst Lecturer</span>
                        <h6>M.Com.</h6>
                    </div> 
                </div>
            </div>
              
                              <div class="col-sm-3 col-xs-12">
                <div class="inner-grid" style="">                        
                <img src="resources/images/bcom/alshad.jpg" />                         <div class="member_name">
                        <h4 style="margin-bottom: 5px; margin-top: 10px;">Mr. Alshad Ahammed</h4>
                        <span> Asst Lecturer</span>
                        <h6>.</h6>
                    </div> 
                </div>
            </div>
              
                              <div class="col-sm-3 col-xs-12">
                <div class="inner-grid" style="">                        
                <img src="resources/images/bcom/aswathy.jpg" />                         <div class="member_name">
                        <h4 style="margin-bottom: 5px; margin-top: 10px;">Mrs. Aswathi E.S</h4>
                        <span> Asst Lecturer</span>
                        <h6>M.Com, B.Ed., SET</h6>
                    </div> 
                </div>
            </div>
              
                              <div class="col-sm-3 col-xs-12">
                <div class="inner-grid" style="">                        
                <img src="resources/images/bcom/faisal.jpg" />                         <div class="member_name">
                        <h4 style="margin-bottom: 5px; margin-top: 10px;">Mr. Muhamed Faisal T. K</h4>
                        <span> Asst Lecturer</span>
                        <h6>M.Com, MBA, DCFA</h6>
                    </div> 
                </div>
            </div>
              
                              <div class="col-sm-3 col-xs-12">
                <div class="inner-grid" style="">                        
                <img src="resources/images/bcom/rajesh.jpg" />                         <div class="member_name">
                        <h4 style="margin-bottom: 5px; margin-top: 10px;">Mr. Ragesh Karolil</h4>
                        <span> Asst Lecturer</span>
                        <h6>M.Com, MBA, M.Phil</h6>
                    </div> 
                </div>
            </div>
              
                              <div class="col-sm-3 col-xs-12">
                <div class="inner-grid" style="">                        
                <img src="resources/images/bcom/rashid.jpg" />                         <div class="member_name">
                        <h4 style="margin-bottom: 5px; margin-top: 10px;">Mr. Rashid K</h4>
                        <span> Asst Lecturer</span>
                        <h6>..</h6>
                    </div> 
                </div>
            </div>
              
                              <div class="col-sm-3 col-xs-12">
                <div class="inner-grid" style="">                        
                <img src="resources/images/bcom/sajad.jpg" />                         <div class="member_name">
                        <h4 style="margin-bottom: 5px; margin-top: 10px;">Mr. Sajad N</h4>
                        <span> Asst Lecturer</span>
                        <h6>M. Com</h6>
                    </div> 
                </div>
            </div>
              
                              <div class="col-sm-3 col-xs-12">
                <div class="inner-grid" style="">                        
                <img src="resources/images/bcom/sameera.jpg" />                         <div class="member_name">
                        <h4 style="margin-bottom: 5px; margin-top: 10px;">Mrs. Sameera Chakkippara</h4>
                        <span> Asst Lecturer</span>
                        <h6>M.Com,NET </h6>
                    </div> 
                </div>
            </div>
              

                 
        </div>
    </div>
    </div>
{% endblock %}