{% extends 'home/index.html' %}
{% block views %}
{% load static %}
<div class="edu-courses about-edu-courses" style="padding: 150px 0px 80px;">
    <div class="container">
        <div class="row panel-grid-banner">
                                           
            <div class="col-sm-3 col-xs-12">
                <div class="header" style="padding: 20px;">
                <center><span style="color: #03152e;font-weight:600;font-size: 30px;">MALAYALAM</span></center>
                </div>
           
                <div class="inner-grid" style="background: #03152e;
box-shadow: 0 0 30px #FF5722;">                        
<img src="resources/images/language/rajani.jpg" />                         <div class="member_name">
                        <h4 style="margin-bottom: 5px; margin-top: 10px;color: #fff;"> Mrs. Rajani O</h4>
                        <span class="text-white">HOD</span>
                        <h6 class="text-white">MA, BEd, SET, NET, Ph.D (doing)</h6>
                    </div> 
                </div>
            </div>
              
                            
            <div class="col-sm-3 col-xs-12">
                <div class="header" style="padding: 20px;">
                <center><span style="color: #03152e;font-weight:600;font-size: 30px;">HINDI</span></center>
                </div>
           
                <div class="inner-grid" style="background: #03152e;
box-shadow: 0 0 30px #FF5722;">                        
<img src="resources/images/language/haris.jpg" />                         <div class="member_name">
                        <h4 style="margin-bottom: 5px; margin-top: 10px;color: #fff;"> Mr. Sayad Haris K.K</h4>
                        <span class="text-white">HOD</span>
                        <h6 class="text-white">BA (Psy), BA (Hindi), MA, B. Ed., Hindi Translation, Ph.D. Doing</h6>
                    </div> 
                </div>
            </div>
              
                            
            <div class="col-sm-3 col-xs-12">
                <div class="header" style="padding: 20px;">
                <center><span style="color: #03152e;font-weight:600;font-size: 30px;">ARABIC</span></center>
                </div>
           
                <div class="inner-grid" style="background: #03152e;
box-shadow: 0 0 30px #FF5722;">                        
<img src="resources/images/language/Nishab.jpg" />                         <div class="member_name">
                        <h4 style="margin-bottom: 5px; margin-top: 10px;color: #fff;"> Mr. Nishab</h4>
                        <span class="text-white">HOD</span>
                        <h6 class="text-white">...</h6>
                    </div> 
                </div>
            </div>
              

                 
        </div>
    </div>
    </div>

{% endblock %}