{% extends 'admin_index.html' %}
{% block views %}
<h3>Syllabus</h3>
<form method="post" action="" enctype="multipart/form-data">
    {% csrf_token %}
    <table class="table table-hover">
<tr>
<td>Course</td>
<td>
    <select name="dpt" id="" required>
        {% for item in data %}
        <option value="{{item.id}}">{{item.course}}</option>
        {% endfor %}
    </select>
</td>
</tr>   
<br>
<tr>
    <td>Add PDF file</td>
    <td><input type="file" name="pdf" required></td>
</tr>
        
<tr>
<td><input class="btn btn-primary ml-3" type="submit" value="ADD"><td>
</tr>
    </table>
</form>
{% endblock %}