{% extends 'home/index.html' %}
{% block views %}
{% load static %}
<section id="d-license">
    <div class="container">
        <!-- section title -->
        <div class="inner-heading text-center">
            <h2>College <span>Facilitites</span></h2>
            <p>Lorem ipsum gravida nibh vel velit auctor aliquetn sollicitudirem quibibendum auci elit cons equat ipsutis sem nibh id elit.</p>
        </div>

        <div class="d-license-main">
            <div class="row">
                                   
                <div class="col-xs-12 col-sm-4">
                    <div class="info-box text-center">
                      <img src="resources/images/facilities/1.jpg" />                            <h3 class="title_info_box">Library</h3>
                        <p class="description_info_box"> Libraries are backbone of any civilized society and heart of any academic institutions. College library extends opportunities for self-education to the deserving and enthusiastic students without any distinction. These libraries develop in each student a sense of responsibility in the pursuit of knowledge.</p>
                    </div>
                </div>
           
             
                                              
                <div class="col-xs-12 col-sm-4">
                    <div class="info-box text-center">
                      <img src="resources/images/facilities/7.jpg" />                            <h3 class="title_info_box">Smart Classrooms</h3>
                        <p class="description_info_box">
Technology enhanced classrooms that foster opportunities for teaching and learning by integrating learning technology, such as computers, specialized software, audience response technology, assistive listening devices, networking, and audio/visual capabilities.</p>
                    </div>
                </div>
           
             
                                              
                <div class="col-xs-12 col-sm-4">
                    <div class="info-box text-center">
                      <img src="resources/images/facilities/3.jpg" />                            <h3 class="title_info_box">Laboratories</h3>
                        <p class="description_info_box"> A Science lab is a workplace for the conduct of scientific research. It helps students to remember the concepts better. It helps to transfer the experience to other learning situations. It is a facility that provides controlled conditions in which scientific research, experiments and measurement may be performed.</p>
                    </div>
                </div>
           
             
                                              
                <div class="col-xs-12 col-sm-4">
                    <div class="info-box text-center">
                      <img src="resources/images/facilities/4.jpg" />                            <h3 class="title_info_box">Sports</h3>
                        <p class="description_info_box"> Some people imagine the roar of a crowd at a packed football stadium when they think of college sports, but that's only part of the story. College sports come in a wide variety, including Football, Cricket, Kabaddy, volleyball, Wrestling. And colleges offer the opportunity for every student to take part in sports.</p>
                    </div>
                </div>
           
             
                                              
                <div class="col-xs-12 col-sm-4">
                    <div class="info-box text-center">
                      <img src="resources/images/facilities/5.jpg" />                            <h3 class="title_info_box">Auditorium</h3>
                        <p class="description_info_box"> The part of a public building where an audience sits, as distinct from the stage, the area on which the performance or other object of the audience&rsquo;s attention is presented. The walls and ceiling usually contain concealed light and sound equipment and air extracts or inlets and may be highly decorated.</p>
                    </div>
                </div>
           
             
                                              
                <div class="col-xs-12 col-sm-4">
                    <div class="info-box text-center">
                      <img src="resources/images/facilities/8.jpg" />                            <h3 class="title_info_box">Computer Lab</h3>
                        <p class="description_info_box"> There are 30 computers in our labs currently. They are state-of-the-art with multimedia, most of them with 17&Prime; LCD monitors that are easier on eyes, generate less heat and consume less power thereby keeping the classroom atmosphere comfortable for children. We use our own LAN with Windows XP for teaching-learning, documentation and presentations.</p>
                    </div>
                </div>
           
             
                                      
                
    </div>  
     </div> 
       </div>  
</section>

{% endblock %}
        
     