<footer id="mt_footer">
    <div class="footer-top">
     <div class="container">
      <div class="row">
       <div class="col-lg-3 col-md-6 footer-contact">
        <h4 class="text-white">
         About Us
        </h4>
        <p class="text-white">
         Panakkad Pookoya Thangal Memorial Arts &amp; Science College, Cherur (PPTM College) was started in 2013-14 academic year.
   It is run by PPTM Yatheem Khana Committee. The Committee aimed at providing the quality and moral education under conducive cultural environment.
        </p>
       </div>
       <div class="col-lg-2 col-md-6 footer-links">
        <h4 class="text-white">
         Useful Links
        </h4>
        <ul>
         <div class="custom custom html">
          <ul>
           <li>
            <i class="bx bx-chevron-right">
            </i>
            <a href="/">
             Home
            </a>
           </li>
           <li>
            <i class="bx bx-chevron-right">
            </i>
            <a href="/about">
             About
            </a>
           </li>
           <li>
            <i class="bx bx-chevron-right">
            </i>
            <a href="/admission/">
             Admissions
            </a>
           </li>
           <li>
            <i class="bx bx-chevron-right">
            </i>
            <a href="/facilitites">
             Facilities
            </a>
           </li>
           <li>
            <i class="bx bx-chevron-right">
            </i>
            <a href="/gallery/">
             Student Life
            </a>
           </li>
           <li>
            <i class="bx bx-chevron-right">
            </i>
            <a href="contact/">
             Contact
            </a>
           </li>
          </ul>
         </div>
        </ul>
       </div>
       <div class="col-lg-3 col-md-6 footer-links">
        <h4 class="text-white">
         Our Services
        </h4>
        <ul>
        </ul>
       </div>
       <div class="col-lg-4 col-md-6 footer-newsletter">
        <h4 class="text-white">
         Reach Us
        </h4>
        <div class="custom customhtml">
         <p style="color: #adadad;">
          PPTM Arts And Science College,
          <br/>
          Cherur P. O, Via, Vengara,
          <br/>
          Pin 676 304
          <br/>
          Malappuram
          <br/>
          Kerala, India
          <br/>
          <br/>
          <strong>
           Phone:
          </strong>
          9061853090,9633380487
          <br/>
          <strong>
           Email:
          </strong>
          pptmcollegecherur@gmail.com
         </p>
        </div>
       </div>
      </div>
     </div>
    </div>
    <div class="container-fluid d-lg-flex py-4" style="background: #fff;padding: 10px 0px;">
     <div class="text-center">
      <div class="copyright">
       2020 © Copyright
       <strong>
        <span>
         PPTM Arts And Science College
        </span>
       </strong>
       . All Rights Reserved. 
          Powered by
       <a href="#">
       PPTM Arts And Science College
       </a>
      </div>
     </div>
    </div>
   </footer>