{% extends 'home/index.html' %}

{% block views %}
{% load static %}
<div class="edu-courses">
    <div class="container">
     <div class="panel-grid-banner">
      <div class="row">
       <div class="col-sm-4 col-xs-12">
        <div class="inner-grid text-center" style="height: 225px;">
         <div class="text-courses">
          <!-- <i class="fa fa-car mar-bottom-20"></i> -->
          <h3>
           New Admissions
          </h3>
         </div>
         <div class="courses-content">
          <p class="mar-top-20">
           For Online Admission
          </p>
          <a class="mt_btn_yellow" href="https://pptm.embase.in/admission/#/home">
           Click
          </a>
          <a class="mt_btn_yellow" href="/instructions">
           Read Instructions
          </a>
         </div>
        </div>
       </div>
       <div class="col-sm-4 col-xs-12">
        <div class="inner-grid text-center" style="height: 225px;">
         <div class="text-courses">
          <h3>
           Messages
          </h3>
         </div>
         <div class="courses-content">
          <p class="mar-top-20">
           Our Recent Messages
          </p>
          <a class="mt_btn_yellow" href="/messages">
           Click
          </a>
         </div>
        </div>
       </div>
       <div class="col-sm-4 col-xs-12">
        <div class="inner-grid text-center" style="height: 225px;">
         <div class="text-courses">
          <h3>
           News &amp; Events
          </h3>
         </div>
         <div class="courses-content">
          <p class="mar-top-20">
           For Latest News
          </p>
          <a class="mt_btn_yellow" href="#">
           Click
          </a>
         </div>
        </div>
       </div>
      </div>
     </div>
    </div>
   </div>
   <section id="mt_about">
    <div class="container wow slideInDown" data-wow-duration="2s">
     <div class="about_services">
      <div class="row">
       <div class="col-md-4 col-sm-12">
        <img src="{% static 'images/about/pptm.jpg' %}">
        </img>
       </div>
       <div class="col-md-8 col-sm-12">
        <div class="inner-heading">
         <h2>
          Welcome to
          <span>
           PPTM
          </span>
         </h2>
         <p>
          Panakkad Pookoya Thangal Memorial Arts &amp; Science College, Cherur (PPTM College) was started in 2013-14 academic year.
         </p>
        </div>
        <div class="about-items">
         <p>
          It is run by PPTM Yatheem Khana Committee. The Committee aimed at providing the quality and moral education under conducive cultural environment.
    It wouldbe helpful to uplift the backward sections of the people of this area, who were traditionally kept aloof from the educational field.
   The college is affiliated to the University of Calicut and recognized by the Government of Kerala under self-financing stream.
         </p>
         <a class="mt_btn_yellow" href="messages.html">
          Read More
         </a>
        </div>
       </div>
      </div>
     </div>
    </div>
   </section>
   <section class="bg-01">
    <div class="container-fluid">
     <div class="row">
      <div class="col-md-2 col-sm-12">
       <h2 style="color: #fff;font-size: 15px;padding-top: 5px;">
        Flash News
        <i aria-hidden="true" class="fa fa-bullhorn">
        </i>
       </h2>
      </div>
      <div class="col-md-10 col-sm-12">
       <div class="row carousel-01">
        <div class="col-md-4 col-sm-4">
         <p style="color: #fff;">
          PPTM college has released the online application for UG courses. Eligible candidates can apply online through college website.
         </p>
        </div>
        <div class="col-md-4 col-sm-4">
         <p style="color: #fff;">
          PPTM college has released the online application for UG courses. Eligible candidates can apply online through college website.
         </p>
        </div>
       </div>
      </div>
     </div>
     <!--/.row-->
    </div>
    <!--/.container-->
   </section>
   <section id="driving-cta">
    <div class="container">
     <div class="row">
      <div class="col-xs-12 col-sm-6">
       <div class="driving-cta-content">
        <h2 class="white mar-0 text-uppercase">
         A
         <span>
          Bright Future
         </span>
        </h2>
        <p class="white">
         The college offers instructions in five UG programmes under Calicut University Choice Based Credit Semester System (CUCBCSS).
   The college is situated at the historically important place, Cherur.
    The area provides a congenial atmosphere for the pursuit of knowledge.
        </p>
        <div class="button">
         <a class="mt_btn_yellow" href="https://pptm.embase.in/admission/#/home">
          Get Started
         </a>
         <a class="mt_btn_white-bor" href="about.HTML">
          Learn more
         </a>
        </div>
       </div>
      </div>
      <div class="col-xs-12 col-sm-6">
       <div class="cta-image">
        <img src="{% static 'images/driving/ford.png' %}">
        </img>
       </div>
      </div>
     </div>
    </div>
   </section>
   <section id="d-license">
    <div class="container">
     <!-- section title -->
     <div class="inner-heading text-center">
      <h2>
       Learn More About
       <span>
        PPTM
       </span>
      </h2>
      <p>
       Affiliated to the University of Calicut &amp; recognized by the Government of Kerala
      </p>
     </div>
     <div class="d-license-main">
      <div class="row">
       <div class="col-xs-12 col-sm-4">
        <div class="info-box text-center">
         <h2 class="mar-0">
          <i class="fa fa-circle">
          </i>
          01
         </h2>
         <h3 class="title_info_box">
          Mission
         </h3>
         <p class="description_info_box">
          Identifying the latent talents of the students and support them to attain academic moral and cultural aptitudes in their lives.
         </p>
        </div>
       </div>
       <div class="col-xs-12 col-sm-4">
        <div class="info-box text-center">
         <h2 class="mar-0">
          <i class="fa fa-circle">
          </i>
          02
         </h2>
         <h3 class="title_info_box">
          Vission
         </h3>
         <p class="description_info_box">
          To provide quality education to become the college a centre of excellence.
         </p>
        </div>
       </div>
       <div class="col-xs-12 col-sm-4">
        <div class="info-box text-center">
         <h2 class="mar-0">
          <i class="fa fa-circle">
          </i>
          03
         </h2>
         <h3 class="title_info_box">
          Focus
         </h3>
         <p class="description_info_box">
          We offer career-focused courses that prepare you to jump into a good career.
         </p>
        </div>
       </div>
      </div>
     </div>
    </div>
   </section>
   <section id="mt_fun">
    <div class="mt-statts mt_st_wide">
     <div class="container">
      <div class="row fun-facts-main">
       <div class="col-md-3 col-sm-6 col-xs-12 fun-facts_wrapper">
        <i class="fa fa-graduation-cap">
        </i>
        <p class="fun-facts_figure timer" data-speed="3000" data-to="700">
        </p>
        <span class="fun-facts_title">
         Graduates Received
        </span>
       </div>
       <div class="col-md-3 col-sm-6 col-xs-12 fun-facts_wrapper">
        <i class="fa fa-users">
        </i>
        <p class="fun-facts_figure timer" data-speed="3000" data-to="624">
        </p>
        <span class="fun-facts_title">
         Number of Students
        </span>
       </div>
       <div class="col-md-3 col-sm-6 col-xs-12 fun-facts_wrapper">
        <i class="fa fa-clock-o">
        </i>
        <p class="fun-facts_figure timer" data-speed="3000" data-to="06">
        </p>
        <span class="fun-facts_title">
         College Hours
        </span>
       </div>
       <div class="col-md-3 col-sm-6 col-xs-12 fun-facts_wrapper">
        <i class="fa fa-trophy">
        </i>
        <p class="fun-facts_figure timer" data-speed="3000" data-to="250
   ">
        </p>
        <span class="fun-facts_title">
         Our Achievements
        </span>
       </div>
      </div>
     </div>
    </div>
   </section>
   <section class="choose_us" id="choose_us">
    <div class="container">
     <div class="row">
      <div class="col-xs-12">
       <!-- section title -->
       <div class="inner-heading text-center">
        <h2>
         College
         <span>
          Faciities
         </span>
        </h2>
        <p class="mar-0">
         Affiliated to the University of Calicut &amp; recognized by the Government of Kerala
        </p>
       </div>
      </div>
     </div>
     <div class="row">
      <div class="col-md-4 col-xs-12">
       <div class="safe-list">
        <div class="choose-list mar-bottom-30">
         <i class="fa fa-book">
         </i>
         <h3>
          Library
         </h3>
         <p>
          Libraries are backbone of any civilized society and heart of any academic
         </p>
        </div>
       </div>
      </div>
      <div class="col-md-4 col-xs-12">
       <div class="safe-list">
        <div class="choose-list mar-bottom-30">
         <i class="fa fa-futbol-o">
         </i>
         <h3>
          Sports
         </h3>
         <p>
          Some people imagine the roar of a crowd at a packed football
         </p>
        </div>
       </div>
      </div>
      <div class="col-md-4 col-xs-12">
       <div class="safe-list">
        <div class="choose-list mar-bottom-30">
         <i class="fa fa-video-camera">
         </i>
         <h3>
          Smart Classrooms
         </h3>
         <p>
          Technology enhanced classrooms that foster opportunities for teaching and
         </p>
        </div>
       </div>
      </div>
      <div class="col-md-4 col-xs-12">
       <div class="safe-list">
        <div class="choose-list mar-bottom-30">
         <i class="fa fa-building-o">
         </i>
         <h3>
          Auditorium
         </h3>
         <p>
          The part of a public building where an audience sits, as distinct from the stage
         </p>
        </div>
       </div>
      </div>
      <div class="col-md-4 col-xs-12">
       <div class="safe-list">
        <div class="choose-list mar-bottom-30">
         <i class="fa fa-flask">
         </i>
         <h3>
          Laboratories
         </h3>
         <p>
          &gt;A Science lab is a workplace for the conduct of scientific research. It helps
         </p>
        </div>
       </div>
      </div>
      <div class="col-md-4 col-xs-12">
       <div class="safe-list">
        <div class="choose-list mar-bottom-30">
         <i class="fa fa-desktop">
         </i>
         <h3>
          Computer Lab
         </h3>
         <p>
          There are 30 computers in our labs currently. They are state-of-the-art with
         </p>
        </div>
       </div>
      </div>
     </div>
    </div>
   </section>
   <!--* Testimonial*-->
   <section class="edu-testimonial edu_wide" id="const-testi">
    <div class="container">
     <!-- section title -->
     <div class="inner-heading">
      <!--  <h3>Testimonials</h3> -->
      <h2 class="white">
       Read
       <span>
        Testimonials
       </span>
      </h2>
     </div>
     <div class="row slider-eductestimo1">
      <div class="col-sm-4">
       <div class="testimonial_main">
        <p>
         Pptm College inspired me to think differently. It's like no other time in your life
        </p>
        <div class="client-pic">
         <img src="{% static 'images/partner/111.jpg' %} "/>
        </div>
        <h4>
         <a class="text-uppercase" href="#">
          Rameesa
         </a>
        </h4>
       </div>
      </div>
      <div class="col-sm-4">
       <div class="testimonial_main">
        <p>
         pptm college degree is not a sign of a finished product but an indication a person is prepared for life.
        </p>
        <div class="client-pic">
         <img src="{% static 'images/partner/101.jpg' %}"/>
        </div>
        <h4>
         <a class="text-uppercase" href="#">
          Rahees
         </a>
        </h4>
       </div>
      </div>
      <div class="col-sm-4">
       <div class="testimonial_main">
        <p>
         All the PPTM memories you hear while waiting in this long corridor of time.
        </p>
        <div class="client-pic">
         <img src="{% static 'images/partner/202.jpg' %}"/>
        </div>
        <h4>
         <a class="text-uppercase" href="#">
          Mujadhid
         </a>
        </h4>
       </div>
      </div>
      <div class="col-sm-4">
       <div class="testimonial_main">
        <p>
         There is a time and place for everything that's my PPTM college
   College a place were a group of strangers meets that turn's up to Be  a beautiful family at the. End
        </p>
        <div class="client-pic">
         <img src="{% static 'images/partner/303.jpg' %}"/>
        </div>
        <h4>
         <a class="text-uppercase" href="#">
          Mushrifa
         </a>
        </h4>
       </div>
      </div>
      <div class="col-sm-4">
       <div class="testimonial_main">
        <p>
         It was immense pleasure for me to experience the three year thriving journey of PPTM COLLEGE..It was just not 3years of college life but more than that I acquired  beautiful experience of extra curriculum and it happened only because of the extreme support from teachers and management.it was great to be a part of College union(2016/17) Student editor . it taught me about the Campus and Life... Thanking Team PPTM for those moments of cherishing memories
        </p>
        <div class="client-pic">
         <img src="{% static 'images/partner/404.jpg' %}"/>
        </div>
        <h4>
         <a class="text-uppercase" href="#">
          Sarfras Navas
         </a>
        </h4>
       </div>
      </div>
      <div class="col-sm-4">
       <div class="testimonial_main">
        <p>
         I am extremely grateful to the management and staff for their tireless efforts to ensure a bright and prosperous future for us. During my study period I found the college to be the best for me as the teachers were able to deliver the best of education. Staff members were always ready to help. I am happy to recommend everyone whoever is planning to make their future with PPTM Arts and Science College.
        </p>
        <div class="client-pic">
         <img src="{% static 'images/partner/606.jpg' %}"/>
        </div>
        <h4>
         <a class="text-uppercase" href="#">
          Thasleema banu
         </a>
        </h4>
       </div>
      </div>
      <div class="col-sm-4">
       <div class="testimonial_main">
        <p>
         When I reflect on my three years in the PPTM BCA program, I conclude that the experience not only made me a better programmer, but also prepared me in unpredictable ways for my career. PPTM
   played a central role in my work, as programming is vital to thinking, to planning, to communication and to engagement. I would recommend this college and course for anyone who are looking forward to be a programmer because it helped me a lot to mould the best version of myself
        </p>
        <div class="client-pic">
         <img src="{% static 'images/partner/505.jpg' %}"/>
        </div>
        <h4>
         <a class="text-uppercase" href="#">
          Afsal Muhammed
         </a>
        </h4>
       </div>
      </div>
     </div>
    </div>
   </section>
   <!--* EndTestimonial*-->
   <section class="light-bg" id="mt_blog">
    <div class="container">
     <!-- section title -->
     <div class="inner-heading">
      <h2>
       Latest
       <span>
        News &amp; Events
       </span>
      </h2>
     </div>
     <div class="blog_post_sec">
      <div class="blog_post_inner">
       <div class="row carousel-2">
        <div class="col-md-4 col-sm-12 col-xs-12 grid-item-a">
         <div class="blog-post_wrapper front-wrapper">
          <div class="blog-post-inner_wrapper">
           <div class="blog-post-image">
            <div class="clearfix">
             <div class="img detail-im">
              <img src="{% static 'images/Files/IMAGES/PHOTO-2021-01-16-17-58-09.jpg' %}"/>
             </div>
            </div>
           </div>
           <div class="post-detail_container">
            <div class="post-content">
             <div class="post-date">
              <p>
               Jul 2021
              </p>
             </div>
             <h3 class="post-title entry-title">
              <a href="news&amp;events.html">
               Newly allotted NSS unit started in the PPTM college .
              </a>
             </h3>
             <!--  <p class="post-excerpt"> Sed ut perspiciatis unde omnis iste natus erro sit voluiptatem accusantium doloremque ips totam quae. </p> -->
             <div class="post_bottom">
              <div class="bottom_list user_post_cmt">
               <a href="news&amp;events.html">
                Read More
               </a>
              </div>
             </div>
            </div>
           </div>
          </div>
         </div>
        </div>
        <div class="col-md-4 col-sm-12 col-xs-12 grid-item-a">
         <div class="blog-post_wrapper front-wrapper">
          <div class="blog-post-inner_wrapper">
           <div class="blog-post-image">
            <div class="clearfix">
             <div class="img detail-im">
              <img src="{% static 'images/ImageGallery/EVENTS/new.jpg' %}"/>
             </div>
            </div>
           </div>
           <div class="post-detail_container">
            <div class="post-content">
             <div class="post-date">
              <p>
               Jul 2021
              </p>
             </div>
             <h3 class="post-title entry-title">
              <a href="news&amp;events.html">
               switch on function of FOLLDY application
              </a>
             </h3>
             <!--  <p class="post-excerpt"> Sed ut perspiciatis unde omnis iste natus erro sit voluiptatem accusantium doloremque ips totam quae. </p> -->
             <div class="post_bottom">
              <div class="bottom_list user_post_cmt">
               <a href="news&amp;events.html">
                Read More
               </a>
              </div>
             </div>
            </div>
           </div>
          </div>
         </div>
        </div>
        <div class="col-md-4 col-sm-12 col-xs-12 grid-item-a">
         <div class="blog-post_wrapper front-wrapper">
          <div class="blog-post-inner_wrapper">
           <div class="blog-post-image">
            <div class="clearfix">
             <div class="img detail-im">
              <img src="{% static 'images/blog-listing/2.jpg' %}"/>
             </div>
            </div>
           </div>
           <div class="post-detail_container">
            <div class="post-content">
             <div class="post-date">
              <p>
               Aug 2019
              </p>
             </div>
             <h3 class="post-title entry-title">
              <a href="news&amp;events.html">
               2019 Kerala Flood Campaign
              </a>
             </h3>
             <!--  <p class="post-excerpt"> Sed ut perspiciatis unde omnis iste natus erro sit voluiptatem accusantium doloremque ips totam quae. </p> -->
             <div class="post_bottom">
              <div class="bottom_list user_post_cmt">
               <a href="news&amp;events.html">
                Read More
               </a>
              </div>
             </div>
            </div>
           </div>
          </div>
         </div>
        </div>
        <div class="col-md-4 col-sm-12 col-xs-12 grid-item-a">
         <div class="blog-post_wrapper front-wrapper">
          <div class="blog-post-inner_wrapper">
           <div class="blog-post-image">
            <div class="clearfix">
             <div class="img detail-im">
              <img src="{% static 'images/blog-listing/5.jpg' %}"/>
             </div>
            </div>
           </div>
           <div class="post-detail_container">
            <div class="post-content">
             <div class="post-date">
              <p>
               Sep 2019
              </p>
             </div>
             <h3 class="post-title entry-title">
              <a href="news&amp;events.html">
               B.Com Association
              </a>
             </h3>
             <!--  <p class="post-excerpt"> Sed ut perspiciatis unde omnis iste natus erro sit voluiptatem accusantium doloremque ips totam quae. </p> -->
             <div class="post_bottom">
              <div class="bottom_list user_post_cmt">
               <a href="news&amp;events.html">
                Read More
               </a>
              </div>
             </div>
            </div>
           </div>
          </div>
         </div>
        </div>
        <div class="col-md-4 col-sm-12 col-xs-12 grid-item-a">
         <div class="blog-post_wrapper front-wrapper">
          <div class="blog-post-inner_wrapper">
           <div class="blog-post-image">
            <div class="clearfix">
             <div class="img detail-im">
              <img src="{% static 'images/blog-listing/3.jpg' %}"/>
             </div>
            </div>
           </div>
           <div class="post-detail_container">
            <div class="post-content">
             <div class="post-date">
              <p>
               Sep 2019
              </p>
             </div>
             <h3 class="post-title entry-title">
              <a href="news&amp;events.html">
               Union Inauguration
              </a>
             </h3>
             <!--  <p class="post-excerpt"> Sed ut perspiciatis unde omnis iste natus erro sit voluiptatem accusantium doloremque ips totam quae. </p> -->
             <div class="post_bottom">
              <div class="bottom_list user_post_cmt">
               <a href="news&amp;events.html">
                Read More
               </a>
              </div>
             </div>
            </div>
           </div>
          </div>
         </div>
        </div>
        <div class="col-md-4 col-sm-12 col-xs-12 grid-item-a">
         <div class="blog-post_wrapper front-wrapper">
          <div class="blog-post-inner_wrapper">
           <div class="blog-post-image">
            <div class="clearfix">
             <div class="img detail-im">
              <img src="{% static 'images/blog-listing/6.jpg' %}"/>
             </div>
            </div>
           </div>
           <div class="post-detail_container">
            <div class="post-content">
             <div class="post-date">
              <p>
               Jun 2020
              </p>
             </div>
             <h3 class="post-title entry-title">
              <a href="news&amp;events.html">
               Hyder Ali Shihab Thangal inaugurated the launching of online admission and website.
              </a>
             </h3>
             <!--  <p class="post-excerpt"> Sed ut perspiciatis unde omnis iste natus erro sit voluiptatem accusantium doloremque ips totam quae. </p> -->
             <div class="post_bottom">
              <div class="bottom_list user_post_cmt">
               <a href="news&amp;events.html">
                Read More
               </a>
              </div>
             </div>
            </div>
           </div>
          </div>
         </div>
        </div>
        <div class="col-md-4 col-sm-12 col-xs-12 grid-item-a">
         <div class="blog-post_wrapper front-wrapper">
          <div class="blog-post-inner_wrapper">
           <div class="blog-post-image">
            <div class="clearfix">
             <div class="img detail-im">
              <img src="{% static 'images/blog-listing/1.jpg' %}"/>
             </div>
            </div>
           </div>
           <div class="post-detail_container">
            <div class="post-content">
             <div class="post-date">
              <p>
               Aug 2019
              </p>
             </div>
             <h3 class="post-title entry-title">
              <a href="news&amp;events.html">
               2019 Kerala Flood Campaign-2
              </a>
             </h3>
             <!--  <p class="post-excerpt"> Sed ut perspiciatis unde omnis iste natus erro sit voluiptatem accusantium doloremque ips totam quae. </p> -->
             <div class="post_bottom">
              <div class="bottom_list user_post_cmt">
               <a href="news&amp;events.html">
                Read More
               </a>
              </div>
             </div>
            </div>
           </div>
          </div>
         </div>
        </div>
       </div>
      </div>
     </div>
    </div>
   </section>

   {% endblock views %}