{% extends 'views/index.html' %}
{% block views %}
{% load static %}

<div id="home-rules" class="pt-100 pb-100 ">
    <div class="container-fluid p-0">
                    <section>
<div class="container">
    <div id="p-d">
<div class="row">
<div class="col-md-6">
<div class="widget widget_custom_menu"><!-- widget list -->
<h3 class="blog_heading_border">'START&rsquo; Online Application</h3>
<ul>
<li><a href="#">1. Refer the instructions available in the college website.</a></li>
<li><a href="#">2. Do you have a valid email id? The credential accessing to Online Registration Dashboard will be forwarded to your email. If does not have, create one.</a></li>
<li><a href="#">3. Note down your application number, which you receive through Email (Check Spam folder also). </a></li>
<li><a href="#">4. Please fill up the Form carefully (the Application will be rejected, if your entries are not correct). </a></li>
<li><a href="#">5. You can edit your application later by using your application no. and DOB. </a></li>
<li><a href="#">6. Fill all the mandatory data fields and click &ldquo;Submit&rdquo; button.</a></li>
<li><a href="#">7. After login to the system, Click on Application menu and complete the application. </a></li>
<li><a href="#">8. Upload the Qualifying Examination details and marks on Mark Menu </a></li>
<li><a href="#">9. Attachment of Adhaar Card/ Qualifying Exam Certificates (SSLC ,+2) Mark sheets/ TC&amp;CC other files related to admission can be uploaded on Attachment Menu. </a></li>
<li><a href="#">10. After submission print the application form and submit in the college </a></li>
</ul>
<h3 class="blog_heading_border">For Related Queries</h3>
<ul>
<li><a href="#" style="color: #000;"> 1. Prof. K. Kunhimuhammad, Principal. 9061853090.</a></li>
<li><a href="#" style="color: #000;"> 2. Mr. Alishan, Administrative Officer. 9633380487</a></li>
</ul>
<h3 class="blog_heading_border">ഒന്നാം വർഷ ബിരുദ പ്രവേശനത്തിനുള്ള നടപടിക്രമങ്ങൾ (ഒാൺലൈനിൽ)</h3>
<ul>
<li><a href="#"> 1. കോളേജ് വെബ്സൈറ്റിലുള്ള നിർദ്ദേശങ്ങൾ നോക്കുക. </a></li>
<li><a href="#">2. നിങ്ങൾക്ക് ശരിയായിട്ടുള്ള ഒരു ഇമെയിൽ എെഡി ഉണ്ടെങ്കിൽ ഒാൺലൈൻ ഡാഷ്ബോർഡ് താങ്കളുടെ മെയിലിലേക്ക് അയച്ചുതരുന്നതാണ്. ഇമെയിൽ എെഡി ഇല്ലെങ്കിൽ പുതുതായി ഉണ്ടാക്കുക. </a></li>
<li><a href="#">3. താങ്കളുടെ മെയിലിലേക്ക് വരുന്ന അപേക്ഷാഫോറം നമ്പർ ശ്രദ്ധിക്കുക. (സ്പാം ഫോൾഡർ അടക്കം ശ്രദ്ധിക്കുക. </a></li>
<li><a href="#">4. അപേക്ഷാഫോറം ശ്രദ്ധാപൂർവ്വം പൂരിപ്പിക്കുക. തെറ്റായ അപേക്ഷകൾ തള്ളപ്പെടാൻ സാധ്യതയുണ്ട്. </a></li>
<li><a href="#">5. ജനനതീയ്യതിയും അപേക്ഷാ ഫോറം നമ്പറും ഉപയോഗിച്ച് അപേക്ഷകളിൽ തിരുത്തലുകൾ നടത്താവുന്നതാണ്. </a></li>
<li><a href="#">6. നിർബന്ധമായും പൂരിപ്പിക്കേണ്ട കോളങ്ങൾ പൂരിപ്പിച്ച് സബ്മിറ്റ് ബട്ടൺ ക്ലിക് ചെയ്യുക. </a></li>
<li><a href="#">7. സോഫ്റ്റ് വെയറിൽ ലോഗിൻ ചെയ്തശേഷം അപ്ലിക്കേഷൻ മെനു ക്ലിക് ചെയ്ത് അപേക്ഷാഫോറം മുഴുവനായി പൂരിപ്പിക്കുക. </a></li>
<li><a href="#">8. ക്വാളിഫൈ ചെയ്ത പരീക്ഷയുടെ വിവരങ്ങളും മാർക്കുകളും അപ്ലോഡ് ചെയ്യുക. </a></li>
<li><a href="#">9. അറ്റാച്മെന്റ് മെനുവിൽ കയറി ക്വാളിഫൈ ചെയ്ത പരീക്ഷകളുടെ (എസ്.എസ്.എൽ.സി., പ്ലസ്2), വിടുതൽ സർട്ടിഫിക്കറ്റ് (ടി. സി), സ്വഭാവ സർട്ടിഫിക്കറ്റ് മുതലായവ) അറ്റാച്ച് ചെയ്യാവുന്നതാണ്. </a></li>
<li><a href="#">10. അപേക്ഷ പൂരിപ്പിച്ച് മുഴുവനായശേഷം സബ്മിറ്റ് ബട്ടൺ ക്ലിക് ചെയ്ത് അപേക്ഷയുടെ പ്രിന്റ് ഒൗട്ട് എടുത്ത് കൈവശം വെക്കേണ്ടതാണ്. അപേക്ഷാ ഫീസ് 150 രൂപയാണ്. </a></li>
<li><a href="#">11. അപേക്ഷാ ഫീസ് ഒാൺലൈൻവഴി കോളേജ് അക്കൗണ്ടിലേക്ക് ട്രാൻസ്ഫർ ചെയ്യേണ്ടതാണ്. ബാങ്കിന്റെ വിശദവിവരങ്ങളും ക്യൂ.ആർ.കോഡും താഴെ കൊടുത്തിട്ടുണ്ട്. </a></li>
<li><a href="#">12. അപേക്ഷാ ഫോറവും പണം അടവാക്കിയ രശീതിയുടെയും സ്ക്രീൻ ഷോട്ട് 9061853090 എന്ന വാട്സ്ആപ് നമ്പറിലേക്ക് അയക്കേണ്ടതാണ്. </a></li>
<li><a href="#">13. മാനേജ്മെന്റ് ക്വാട്ടയിലേക്കുള്ള പ്രവേശനത്തിന് 9061853090, 9633380487 എന്നീ നമ്പറുകളിൽ വാട്സ്ആപ് വഴി ബന്ധപ്പെടേണ്ടതാണ്. </a></li>
</ul>
<h3 class="blog_heading_border">Bank Details:</h3>
<ul>
<li><a href="#">Account Number: 00000037794232819 </a></li>
<li><a href="#">IFSC Code: SBIN0070635 </a></li>
<li><a href="#">Branch: Vengara</a></li>
</ul>
<a href="source/Files/Instructions%20PDF.pdf" target="1" class="mt_btn_yellow">Download Instructions</a></div>
<!-- End widget list --></div>
<div class="col-md-6">
<div class="widget widget_custom_menu"><!-- widget list -->
<h3 class="blog_heading_border">Payment/ Transfer (Rs.150)</h3>
<ul>
<li><a href="#">11. Payment /transfer. Application fee should be paid by money transfer only using bank details and QR code provided below. </a></li>
<li><a href="#"> 12. After the payment , you can uploaded on. Application Form printouts </a></li>
<li><a href="#"> </a><a href="#">13. WhatsApp Screenshots of Application Printout and Payment Receipt to 9061853090.</a></li>
</ul>
<h3 class="blog_heading_border">Management Quota</h3>
<ul>
<li><a href="#">1. If you are seeking management seat, please adhere directions from the college office(WhatsApp/Call, 9061853090,9633380487).</a>
<h3 class="blog_heading_border">Application Form Printouts</h3>
</li>
</ul>
<ul>
<li><a href="#"> 1. Application form can be printed in A4 size from Print Menu. At Admission Desk</a></li>
</ul>
<h3 class="blog_heading_border">At Admission Desk</h3>
<h5>The following documents are to be produced at the time of Admission:</h5>
<ul>
<li><a href="#">1. Online Application Printout</a></li>
<li><a href="#">2.University application printout (CAP) </a></li>
<li><a href="#">3.The Original Mark lists of SSLC, Qualifying Exam Certificates and Mark list and other documents prescribed by the university. </a></li>
<li><a href="#">4. TC from the from the last studied Institution </a></li>
<li><a href="#">5. Conduct Certificate</a></li>
<li><a href="#">6.copy of adhar card </a></li>
<li><a href="#">7. 2 Passport size Photos (must be of within 6 months) </a></li>
<li><a href="#">8. Tuition fee and other fees prescribed by the College. </a></li>
</ul>
<h3 class="blog_heading_border">പ്രവേശനം</h3>
<ul>
<li><a href="#"> 1. എ4 സൈസിൽ അപേക്ഷാഫോറം പ്രിന്റ് മെനുവിൽ പോയി പ്രിന്റ് എടുക്കാവുന്നതാണ്.</a></li>
</ul>
<h3 class="blog_heading_border">താഴെപറയുന്ന രേഖകൾ പ്രവേശനസമയത്ത് ഹാജരാക്കേണ്ടതാണ്.</h3>
<ul>
<li><a href="#"> 1. ഒാൺലൈൻ അപേക്ഷയുടെ പ്രിന്റ് ഒൗട്ട്. </a></li>
<li><a href="#"> 2. യൂണിവേഴ്സിറ്റിയിൽ അപേക്ഷിച്ചതിന്റെ (കാപ്) പ്രിന്റ് ഒൗട്ട്. </a></li>
<li><a href="#"> 3. എല്ലാ സർട്ടിഫിക്കറ്റുകളുടെയും അസ്സലുകളും കോപ്പികളും. </a></li>
<li><a href="#">4. അവസാനം പഠിച്ച സ്ഥാപനത്തിൽനിന്നുള്ള ടി.സി. </a></li>
<li><a href="#">5. സ്വഭാവ സർട്ടിഫിക്കറ്റ്. </a></li>
<li><a href="#">6. ആധാർ കാർഡിന്റെ ശരിപ്പകർപ്പ്. </a></li>
<li><a href="#">7. പാസ്സ്പോർട്ട് സൈസ് ഫോട്ടോ 2 കോപ്പി. </a></li>
<li><a href="#">8. കോളേജിൽ അടവാക്കേണ്ട ഫീസുകളും മറ്റു ചാർജുകളും. </a></li>
</ul>
<h3 class="blog_heading_border">ബന്ധപ്പെട്ട അന്വേഷണങ്ങൾക്</h3>
<ul>
<li><a href="#"></a><a href="#">1. പ്രൊഫസർ കുഞ്ഞിമുഹമ്മദ് (പ്രിൻസിപ്പാൾ) - 9061853090. </a></li>
<li><a href="#">2. അലിഷാൻ, അഡ്മിനിസ്റ്റ്രേറ്റീവ് ഒാഫീസർ - 9633380487</a></li>
</ul>
</div>
<!-- End widget list --></div>
<div class="col-md-4 col-sm-12"><img src="source/Files/IMAGES/sbi.jpg" /></div>
</div>
</div>
<div class="container">
<div class="row">
<div class="col-md-6">
<div class="box-lg"></div>
</div>
</div>
</div>
</div>
</section>           
        </div>
    </div>
{% endblock %}