{% extends 'home/index.html' %}
{% block views %}
{% load static %}

<div class="edu-courses about-edu-courses" style="padding: 150px 0px 80px;">
    <div class="container">
        <div class="row panel-grid-banner">
                   
<div class="col-sm-3 col-xs-12">
                <div class="inner-grid">                        
                <img src="{% static 'images/about/1.jpg' %}" />                         <div class="member_name">
                        <h4 style="margin-bottom: 5px; margin-top: 10px;"> Jb. Sayyid Hyder Ali Shihab Thangal</h4>
                        <span>President</span>
                    </div> 
                </div>
            </div>
            
                       
<div class="col-sm-3 col-xs-12">
                <div class="inner-grid">                        
                <img src="{% static 'images/about/21.jpg' %}" />                         <div class="member_name">
                        <h4 style="margin-bottom: 5px; margin-top: 10px;"> Jb. M.M. Kutty Moulavi</h4>
                        <span>General Secretary</span>
                    </div> 
                </div>
            </div>
            
                       
<div class="col-sm-3 col-xs-12">
                <div class="inner-grid">                        
                <img src="{% static 'images/about/3.jpg' %}" />                         <div class="member_name">
                        <h4 style="margin-bottom: 5px; margin-top: 10px;"> Jb. Sulaiman Avayil</h4>
                        <span>Working Secretary</span>
                    </div> 
                </div>
            </div>
            
                       
<div class="col-sm-3 col-xs-12">
                <div class="inner-grid">                        
                <img src="{% static 'images/about/4.jpg' %}" />                         <div class="member_name">
                        <h4 style="margin-bottom: 5px; margin-top: 10px;"> Jb. K.K. Mansoor koya Thangal</h4>
                        <span>Vice President</span>
                    </div> 
                </div>
            </div>
            
                       
<div class="col-sm-3 col-xs-12">
                <div class="inner-grid">                        
                <img src="{% static 'images/about/5.jpg' %}" />                         <div class="member_name">
                        <h4 style="margin-bottom: 5px; margin-top: 10px;"> Jb. P .K. Kunhu</h4>
                        <span>Tressurer</span>
                    </div> 
                </div>
            </div>
            
                       
<div class="col-sm-3 col-xs-12">
                <div class="inner-grid">                        
                <img src="{% static 'images/about/6.jpg' %}" />                         <div class="member_name">
                        <h4 style="margin-bottom: 5px; margin-top: 10px;"> Jb. K. Veeran Kutty Master</h4>
                        <span>Manager</span>
                    </div> 
                </div>
            </div>
            
                        </div>
    </div>
    </div>


    <div class="edu-courses about-edu-courses" style="padding: 91px 0px 10px; background: #ffc10726;">
    <div class="container">
        <div class="row panel-grid-banner">
                            
<div class="col-sm-3 col-xs-12">
                <div class="inner-grid" style="height: 165px;">     
                     <div class="member_name">
                        <h4 style="margin-bottom: 5px; margin-top: 10px;">Jb. K.K. Hamza</h4>
                        <span>Joint Secretary</span>
                    </div> 
                </div>
            </div>
                                
<div class="col-sm-3 col-xs-12">
                <div class="inner-grid" style="height: 165px;">      
                     <div class="member_name">
                        <h4 style="margin-bottom: 5px; margin-top: 10px;">Jb. K.P Chereed Haji</h4>
                        <span>Joint Secretary</span>
                    </div> 
                </div>
            </div>
                                
<div class="col-sm-3 col-xs-12">
                <div class="inner-grid" style="height: 165px;">   
                     <div class="member_name">
                        <h4 style="margin-bottom: 5px; margin-top: 10px;">Jb. C.P Mohammed</h4>
                        <span>Joint Secretary</span>
                    </div> 
                </div>
            </div>
                                
<div class="col-sm-3 col-xs-12">
                <div class="inner-grid" style="height: 165px;">        
                     <div class="member_name">
                        <h4 style="margin-bottom: 5px; margin-top: 10px;">Jb. M.M Abdul Rasheed</h4>
                        <span>&nbsp;Joint Secretary</span>
                    </div> 
                </div>
            </div>
                                
<div class="col-sm-3 col-xs-12">
                <div class="inner-grid" style="height: 165px;">         
                     <div class="member_name">
                        <h4 style="margin-bottom: 5px; margin-top: 10px;">Jb. M.M Marakkar Haji </h4>
                        <span>Vice President</span>
                    </div> 
                </div>
            </div>
                                
<div class="col-sm-3 col-xs-12">
                <div class="inner-grid" style="height: 165px;">        
                     <div class="member_name">
                        <h4 style="margin-bottom: 5px; margin-top: 10px;">Jb. P.P Chereed Haji</h4>
                        <span>Vice President</span>
                    </div> 
                </div>
            </div>
                                
<div class="col-sm-3 col-xs-12">
                <div class="inner-grid" style="height: 165px;">        
                     <div class="member_name">
                        <h4 style="margin-bottom: 5px; margin-top: 10px;">Jb. C.T Hussain Master</h4>
                        <span>Vice President</span>
                    </div> 
                </div>
            </div>
                                
<div class="col-sm-3 col-xs-12">
                <div class="inner-grid" style="height: 165px;">     
                     <div class="member_name">
                        <h4 style="margin-bottom: 5px; margin-top: 10px;">Jb. O.K Moosan Kutty Musliyar</h4>
                        <span>Vice President</span>
                    </div> 
                </div>
            </div>
                            </div>
            </div>
               
{% endblock %}