{% extends 'views/index.html' %}
{% block views %}
{% load static %}

<div class="edu-courses about-edu-courses" style="padding: 200px 0px 100px;">
    <div class="container">
        <div id="p-d">
                               <div class="row panel-grid-banner" style="margin-bottom: 70px;">
            <div class="col-sm-4 col-xs-12">
                <div class="inner-grid">                        
                <img src="{% static 'images/about/1.jpg' %} " />                    </div>
            </div>
            <div class="col-sm-8 col-xs-12">
                <div class="inner-grid" style="height: 340px;">                        
                    <div class="text-courses">
                        <h3>Thangal's Message</h3>
                    </div>
                    <div class="courses-content">
                        <p> I pray the almighty that PPTM College may continue to be in a position to deliver its objectives in support of the holy words of our esteemed leader that "acquire knowledge, though you have to go to China". The PPTM College is trying to uplift the community by offering them new vistas of knowledge. </p>
                    </div>
                </div>
            </div>
        </div>
   
           
                           <div class="row panel-grid-banner" style="margin-bottom: 70px;">
            <div class="col-sm-4 col-xs-12">
                <div class="inner-grid">                        
                <img src="{% static 'images/about/pptm.jpg' %} " />                    </div>
            </div>
            <div class="col-sm-8 col-xs-12">
                <div class="inner-grid" style="height: 340px;">                        
                    <div class="text-courses">
                        <h3>Principal's Message</h3>
                    </div>
                    <div class="courses-content">
                        <p>
Generally the aims of higher education is to meet learning needs and aspiration of individuals through the development of their intellectual abilities and aptitudes throughout their lives. Higher education equips individuals to make the best use of their talents and abilities. PPTM College aims these goals to the society it belongs. </p>
                    </div>
                </div>
            </div>
        </div>
   
           
                           <div class="row panel-grid-banner" style="margin-bottom: 70px;">
            <div class="col-sm-4 col-xs-12">
                <div class="inner-grid">                        
                <img src="{% static 'images/about/33.jpg' %} " />                    </div>
            </div>
            <div class="col-sm-8 col-xs-12">
                <div class="inner-grid" style="height: 340px;">                        
                    <div class="text-courses">
                        <h3>Administrative Message</h3>
                    </div>
                    <div class="courses-content">
                        <p>
college education is not the learning of facts, but the training of minds to think.&rdquo; -lbert Einstein-
To say Education is important is an understatement. Education is a weapon to improve one&rsquo;s life. It is probably the most important tool to change one&rsquo;s life. Education for a child begins at home. The main aim of PPTM arts and science college is to provide quality education. </p>
                    </div>
                </div>
            </div>
        </div>
   
    </div>
            </div>
    </div>
    {% endblock %}