{% extends 'home/index.html' %}
{% block views %}
{% load static %}

<div class="edu-courses about-edu-courses" style="padding: 150px 0px 80px;">
    <div class="container">
        <div class="row panel-grid-banner">
                                       <div class="col-sm-3 col-xs-12">
                <div class="inner-grid">                        
                <img src="{% static 'images/about/haneefa.jpg' %}" />                         <div class="member_name">
                        <h4 style="margin-bottom: 5px; margin-top: 10px;">Mohamed Haneefa.C  </h4>
                        <span> Superintendent .
</span>
                    </div> 
                </div>
            </div>
              
                        <div class="col-sm-3 col-xs-12">
                <div class="inner-grid">                        
                <img src="{% static 'images/about/afsal.jpg' %} " />                         <div class="member_name">
                        <h4 style="margin-bottom: 5px; margin-top: 10px;">Afsal Abdulla.K  </h4>
                        <span> Librarian .
</span>
                    </div> 
                </div>
            </div>
              
                        <div class="col-sm-3 col-xs-12">
                <div class="inner-grid">                        
                <img src="{% static 'images/about/sulfikhar.jpg' %}" />                         <div class="member_name">
                        <h4 style="margin-bottom: 5px; margin-top: 10px;">Sulfikhar.M  </h4>
                        <span> Clerk .
</span>
                    </div> 
                </div>
            </div>
              
                        <div class="col-sm-3 col-xs-12">
                <div class="inner-grid">                        
                <img src="{% static 'images/about//33.jpg'%}" />                         <div class="member_name">
                        <h4 style="margin-bottom: 5px; margin-top: 10px;">Alishan.K  </h4>
                        <span> Administrative Officer.
</span>
                    </div> 
                </div>
            </div>
              
                        <div class="col-sm-3 col-xs-12">
                <div class="inner-grid">                        
                <img src="{% static 'images/about/kunhimoidheen.jpg' %}" />                         <div class="member_name">
                        <h4 style="margin-bottom: 5px; margin-top: 10px;">Kunhimoideen.P.P  </h4>
                        <span> Watchman.
</span>
                    </div> 
                </div>
            </div>
              

                 
        </div>
    </div>
</div>
{% endblock %}