<form method="post" action="#"  enctype="multipart/form-data">

	<h2>Student Mark detailes</h2>
	<table  class="table table-hover table table-striped">
	<tr>
	<td >Higher Secondary</td>
	<td><input class="form-control" type="text" placeholder="school Name" class="tb" name="name"  /></td>
	</tr>
    <td > capid :</td>
	<td><input class="form-control" type="text" placeholder="Enter capid " class="tb" name="capid"  /></td>
	</tr>
    <td > +2 subject :</td>
	<td><input class="form-control" type="text" placeholder=" " class="tb" name="sub"  /></td>
	</tr>
    <td > +2 reg no :</td>
	<td><input class="form-control" type="text" placeholder="Enter reg " class="tb" name="reg"  /></td>
	</tr>
    <td >+2 Mark list:</td>
    <td><input class="form-control-file" type="file" name="file" /></td>
    </tr>
    <td >SSLC</td>
	<td><input class="form-control" type="text" placeholder="school Name" class="tb" name="ss"  /></td>
	</tr>
    <td >SSLC Mark list:</td>
    <td><input class="form-control-file" type="file" name="f" /></td>
    </tr>
    <tr>
        <td></td>
        <td>
        <input class="btn btn-dark" type="reset"/>
        <input class="btn btn-primary" type="submit" value="ADD"></td>
        </tr>
    </table>
</form>